/* Color Palette:
    navy #313866
    purple #504099
    magenta #974EC3
    pink #FE7BE5
*/

/* --- CSS Reset --- */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

/* --- General Document Settings --- */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* --- Header & Footer Section --- */

#header,
#footer {
    background: #313866;
    color: #FE7BE5;
    padding: 16px 192px;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

}

/* --- Navbar Section --- */

/* navbar div within header keeps items centered while zooming */
#navbar {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 24px;
}

.logo {
    font-size: 24px;
    font-weight: 800;
    flex: 1;

    /* flex-shrink: 0; */
}

.links {
    display: flex;
    gap: 24px;
    flex: 1;
    /* flex-shrink: 0; */

}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #FE7BE5;
    font-size: 16px;
}

/* --- Footer Section --- */

#footer {
    padding: 36px 192px;
}

/* --- Content Sections Below --- */

#content {
    display: flex;
    flex-direction: column;
    /* setting flex grows items proportionally w/ zoom out 
       also makes footer stick to page bottom */
    flex: 1;
}

.hero,
.information,
.quote,
.sign-up {
    flex: 1;
}

/* --- Hero Section  --- */

.hero {
    background: #313866;
    padding: 64px 192px;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.left h1 {
    font-size: 36px;
    margin-bottom: 12px;
}

.left button {
    background: #974EC3;
    color: #eee;
    font-weight: bold;
    margin-top: 12px;
    border-radius: 8px;
    padding: 8px 24px;
}

.img {
    background: #8a8a8a;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 1;
}

/* --- Information Section --- */

.information {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 48px;
    padding: 48px 192px;
    gap: 32px;
}

.information .title {
    font-size: 28px;
    font-weight: 700;
}

.info-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.info {
    max-width: 100px;
    text-align: center;
    flex: 1;
    font-size: 14px;
    color: #5b5b5b;
}

.info-img {
    width: 100px;
    height: 100px;
    border: 3px solid #974EC3;
    border-radius: 12px;
}

/* --- Quote Section --- */

.quote {
    background: #504099;
    color: #FE7BE5;
    padding: 64px 192px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote .text {
    font-size: 36px;
    font-weight: 500;
}

.quote .text h4 {
    font-size: 20px;
    text-align: end;
}


/* --- Sign Up Section --- */

.sign-up {
    background: #974EC3;
    color: #eee;
    border-radius: 8px;
    margin: 48px 192px;
    padding: 36px 64px;
    max-height: 128px;
    /* width: 400px; */
    /* align-self keeps box from growing */
    align-self: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 36px;
}

.sign-up button {
    background: #974EC3;
    color: #eee;
    border: 3px solid #FE7BE5;
    border-radius: 8px;
    padding: 6px 24px;
    align-self: center;
    justify-self: center;
}

.sign-up .left {
    width: 200px;
    flex-shrink: 0;
}

.sign-up p {
    font-size: 12px;
}