/* Color Palette Used:
    navy #313866
    purple #504099
    magenta #974EC3
    pink #FE7BE5
*/

/* --- CSS Reset --- */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    background: #313866;
    color: #FE7BE5;
    padding: 24px 192px;
    display: flex;
    align-items: center;
}

/* --- Header Section --- */

.header {
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    font-size: 24px;
    font-weight: 800;
}

.links {
    display: flex;
    gap: 24px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #FE7BE5;
    font-size: 16px;
}

/* --- Footer Section --- */

.footer {
    justify-content: center;
}

/* --- Content Sections Below --- */

.content {
    display: flex;
    flex-direction: column;
}

/* --- Hero Section  --- */

.hero {
    background: #313866;
    padding: 64px 192px;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.left {
    flex: 1;
}

.left h1 {
    font-size: 36px;
    margin-bottom: 12px;
}

.left button {
    background: #974EC3;
    color: #eee;
    font-weight: bold;
    margin-top: 12px;
    border-radius: 8px;
    padding: 8px 24px;
}

.img {
    background: #8a8a8a;
    width: 300px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

/* --- Information Section --- */

.information {
    display: flex;
    flex-direction: column;
    margin-bottom: 48px;
    padding: 48px 192px;
    gap: 32px;
}

.information .title {
    font-size: 28px;
    font-weight: 700;
    text-align: center;
}

.info-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.info {
    max-width: 100px;
    text-align: center;
    flex: 1;
    font-size: 14px;
    color: #5b5b5b;
}

.info-img {
    width: 100px;
    height: 100px;
    border: 3px solid #974EC3;
    border-radius: 12px;
}

/* --- Quote Section --- */

.quote {
    background: #504099;
    color: #FE7BE5;
    padding: 64px 192px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote .text {
    font-size: 36px;
    font-weight: 500;
}

.quote .text h4 {
    font-size: 20px;
    text-align: end;
}


/* --- Sign Up Section --- */

.sign-up {
    background: #974EC3;
    color: #eee;
    width: 600px;
    border-radius: 8px;
    margin: 48px 192px;
    padding: 36px 64px;
    display: flex;
    align-self: center;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    gap: 16px;
}

.sign-up button {
    background: #974EC3;
    color: #eee;
    border: 3px solid #FE7BE5;
    border-radius: 8px;
    padding: 6px 24px;
    flex-shrink: 0;
}

.sign-up p {
    font-size: 12px;
}